{{ import "apps/cp/pages"    }}
{{ import "apps/cp/products" }}

{{#with pages.Get("/") }}
  {{#render "layout", title=long_title }}

  <div class="content">
    <ul>

      {{#each products.All() }}
        <li>
          <a href={{ product_url $ }} title="">
            {{#if images[0]}}
              <img alt={{ ..name }} src={{ thumbnail }} />
            {{else}}
              <img alt={{ ..name }} src="/missing.png" />
            {{/if}}
            <span>{{ name }}</span>
          </a>
        </li>
      {{/each}}

    </ul>

    <h2>{{ title }}</h2>
    {{{ body }}}

  </div>

  <aside>

    {{#each SidebarItems }}
      {{ render template_name, $ }}
    {{/each}}

  </aside>

  {{/render}}
{{/with}}
